 body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

.card {
    margin: 95px auto;
    background-color: white;
    width: 270px;
    height: 450px;
    border-radius: 20px 15px;
    padding: 5px
    
}

img {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 15px;
}

.primeiro {
    font-size: 20px;
    font-weight: bolder;
    color: hsl(218, 44%, 22%);
}

.segundo {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }